PORT=3000
MONGO_URI="mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/?appName=Cluster0"

# Instagram App Credentials (from your Meta Developer dashboard)
INSTAGRAM_APP_ID=your_instagram_app_id
INSTAGRAM_APP_SECRET=your_instagram_app_secret
INSTAGRAM_REDIRECT_URI=https://localhost:3000/auth/instagram/callback

SSL_KEY_PATH=./certs/localhost-key.pem
SSL_CERT_PATH=./certs/localhost.pem

# For production
# INSTAGRAM_REDIRECT_URI=https://yourdomain.com/auth/instagram/callback

NODE_ENV=development
